core/src/main/java/org/asname/requests/schema/CRUDPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:sch="http://ru.crud.requests" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.w3.org/2001/XMLSchema"
				  xmlns:ns1="http://ru.crud.requests" targetNamespace="http://ru.crud.requests">
	<wsdl:types>
		<xs:schema targetNamespace="http://rfid.sbrf.ru"
				   version="1.0"
				   xmlns="http://ru.crud.requests"
				   xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://ru.crud.requests" schemaLocation="CRUDRequests.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CreateRequestRq">
		<wsdl:part name="CreateRequestRq" element="sch:CreateRequestRq">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRequestRs">
		<wsdl:part name="CreateRequestRs" element="sch:CreateRequestRs">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelRequestRq">
		<wsdl:part name="CancelRequestRq" element="sch:CancelRequestRq">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelRequestRs">
		<wsdl:part name="CancelRequestRs" element="sch:CancelRequestRs">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CRUDPort">
		<wsdl:operation name="CreateRequest">
			<wsdl:input name="CreateRequestRq" message="sch:CreateRequestRq">
			</wsdl:input>
			<wsdl:output name="CreateRequestRs" message="sch:CreateRequestRs">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelRequest">
			<wsdl:input name="CancelRequestRq" message="sch:CancelRequestRq">
			</wsdl:input>
			<wsdl:output name="CancelRequestRs" message="sch:CancelRequestRs">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRUDPortSoap11" type="sch:CRUDPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateRequest">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelRequest">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CRUDPortService">
		<wsdl:port name="CRUDPortSoap11" binding="sch:CRUDPortSoap11">
			<soap:address location="http://localhost:9084/crud/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
