core/src/main/java/org/asname/integration/ws/CalWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://anil.hcl.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://anil.hcl.com/" name="calWebService">
    <types>
		<xs:schema targetNamespace="http://com.hcl.anil/"
				   version="1.0"
				   xmlns="http://anil.hcl.com/"
				   xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://anil.hcl.com/" schemaLocation="CalWebService.xsd"/>
		</xs:schema>
    </types>
    <message name="AddRq">
        <part name="AddRq" element="tns:AddRq"/>
    </message>
    <message name="AddRs">
        <part name="AddRs" element="tns:AddRs"/>
    </message>
    <message name="DiffRq">
        <part name="DiffRq" element="tns:DiffRq"/>
    </message>
    <message name="DiffRs">
        <part name="DiffRs" element="tns:DiffRs"/>
    </message>
    <portType name="CalWebService">
        <operation name="Add">
            <input name="AddRq" message="tns:AddRq"/>
            <output name="AddRs" message="tns:AddRs"/>
        </operation>
        <operation name="Diff">
            <input name="DiffRq" message="tns:DiffRq"/>
            <output name="DiffRs" message="tns:DiffRs"/>
        </operation>
    </portType>
    <binding name="calWebServicePortBinding" type="tns:CalWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Diff">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="calWebService">
        <port name="calWebServicePort" binding="tns:calWebServicePortBinding">
            <soap:address location="http://localhost:8081/ws/CalWebService"/>
        </port>
    </service>
</definitions>
